@model lab3_thuc_hanh.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<p style="font-size:24px">bạn đã mua cuốn sách<strong>@Model.Title</strong>với giá<strong>@Model.Pice</strong>VNĐ</p>

